@use '../custom' as *;

.header {
    padding-top: 3rem;
    padding-bottom: 3rem;
    /* media query */
    @include media-breakpoint-up(md) {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

}

/*aplica para todo la pagina*/
.logo {
    width: 10rem;
}