.eventos {

    .card {

        :hover {
            cursor: pointer;
        }

        img {
            border-radius: .5rem;
        }

        .fecha {
            /* agregar codigo html y css plano para cambiar estilo */
            color: #757075;
        }
    }
}